[project]

debug=False
log_level=ERROR
secret_key=N0 M0R3 S3CR3TS
allowed_hosts=0.0.0.0,127.0.0.1,192.168.56.189,links.cafejosti.net

db_engine=django.db.backends.sqlite3
db_name=/opt/linkpile-site/linkpilesite/db.sqlite3
db_host=
db_port=
db_username=
db_password=

[linkpile]
